<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styleCadastro.css">
    <link rel="shortcut icon" type="imagex/png" href="https://w7.pngwing.com/pngs/620/521/png-transparent-poke-ball-pokemon-pokemon-rim-mobile-phones-pokemon.png">
    <link href='https://css.gg/pokemon.css' rel='stylesheet'>
    <title>Pokedéx</title>
</head>
<body>
    <header>
        <div id="menu">
            <i class="gg-pokemon"></i>
            <a href="/" id="btn-home">Home</a>
        </div>    
        <div id="header">
            <h1>Editar Pokemon</h1>
        </div>
    </header>
<main>
    <section id="cadastroGeral">           
            
        <div id="cadastro">
            <h2>Faça as alterações necessárias:</h2>
           
            <% pokemon.forEach(item =>{ %>

            <form action="/update/<%=item.nome%>" method="post">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" value="<%=item.nome%>">

                <label for="descricao">Descrição</label>
                <input type="text" id="descricao" name="descricao" value="<%=item.descricao%>">

                <label for="tipo">Tipo</label>
                <input type="text" id="tipo" name="tipo" value="<%=item.tipo%>">

                <label for="tipo">Altura</label>
                <input type="text" id="Altura" name="altura" value="<%=item.altura%>">

                <label for="tipo">Peso</label>
                <input type="text" id="Peso" name="peso" value="<%=item.peso%>">

                <label for="tipo">Categoria</label>
                <input type="text" id="Categoria" name="categoria" value="<%=item.categoria%>">

                <label for="tipo">Habilidade</label>
                <input type="text" id="Habilidade" name="habilidade" value="<%=item.habilidade%>">

                <label for="imagem">Link da Imagem</label>
                <input type="text" id="imagem" name="imagem" value="<%=item.imagem%>">
                <section id="botoes">
                    <div>
                       <button id="btn-editar" type='submit'>Editar</button>
                    </div>
                    <div>
                        <a href="/excluir/<%=item.nome%>" id="btn-excluir">Excluir</a>
                    </div> 
                </section>
            <% }) %>    
            </form>
        </div>
        <div>
            <% pokemon.forEach(item =>{ %> 
                <img src="<%=item.imagem%>" alt="Imagem não encontrada">
            <% }) %> 
        </div>   
    </section> 
</main>
<footer>
    <p>
        Confira mais projetos -
        <a href="https://github.com/thulerjoao">github.com/thulerjoao </a>
        - 2022            
    </p>
</footer>
<script type='text/javascript' src="/cadastro.js"></script>
</body>
</html>