<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="imagex/png" href="https://w7.pngwing.com/pngs/620/521/png-transparent-poke-ball-pokemon-pokemon-rim-mobile-phones-pokemon.png">
    <link href='https://css.gg/pokemon.css' rel='stylesheet'>
    <title>Pokedéx</title>
    
</head>   
<body>

    <% if(message != "") {  %>
        <section id="message">
            <p><%=message %></p> <span id="close">&times;</span>
        </section>
    <% message = ""; }  %>

    <header>
            <div id="menu">
                <i class="gg-pokemon"></i>
                <a href="#" id="btn-home">Home</a>
                <a href="/cadastro" id="btn-cadastro">Cadastro</a>
            </div>    
        <div id="header">
            <h1>PoKeDéX</h1>
        </div>
    </header>

    <main>
        <h2 id="titulo01">Listagem de Pokemons:</h2>
        <section id="cards" >
            <% pokedex.forEach((item) =>{ %>    
            <div class="card">
                <img src="<%=item.imagem%>" alt="Imagem não encontrada">
                <h2><%=item.nome%></h2>
                <p><%=item.descricao%></p>
                <p>Tipo: <%=item.tipo%></p>
                <a href="/detalhes/<%=item.nome%>" id="btn-detalhes">Mais Detalhes</a>
                <a href="/editar/<%=item.nome%>" id="btn-editar">Editar Pokemon</a>
            </div>
            <% }) %>
        </section>   
    </main>
    <footer>
        <p>
            Confira mais projetos -
            <a href="https://github.com/thulerjoao">github.com/thulerjoao </a>
            - 2022            
        </p>
    </footer>
    <script type='text/javascript' src="script.js"></script>
</body>
</html>