<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pokedéx</title>
</head>   
<body>
    <header>
        <div id="header">
            <h1>PoKeDéX</h1>
        </div>
    </header>

    <main>
        <h2 id="titulo01">Listagem de Pokemons:</h2>
        <section id="cards">
            <% pokedex.forEach((item) =>{ %>    
            <div class="card">
                <img src="<%= item.imagem %>" alt="imagem pokemon">
                <h2><%=item.nome%></h2>
                <p><%=item.descricao%></p>
                <p>Tipo: <%=item.tipo%></p>
                <button><a href="/info/<%=item.id%>">Editar Pokemon</a></button>
            </div>
    
            <% }) %>
        </section>
        
        <section id="cadastroGeral">           
            
            <div id="cadastro">
                
                <% if(pokemon == undefined){%>
                <h2>Cadastro:</h2>
                
                <form action="/add" method="post">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome">

                    <label for="descricao">Descrição</label>
                    <input type="text" id="descricao" name="descricao">

                    <label for="tipo">Tipo</label>
                    <input type="text" id="tipo" name="tipo">

                    <label for="imagem">Link da Imagem</label>
                    <input type="text" id="imagem" name="imagem">

                    <button id="btnCadastro" type="submit">Enviar</button>
                </form>

                

                <%} else {%>
                    
                <h2>Redefinir Pokemon:</h2>
                    
                <form action="/update/<%=pokemon.id%>" method="post">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" value="<%=pokemon.nome%>">

                    <label for="descricao">Descrição</label>
                    <input type="text" id="descricao" name="descricao" value="<%=pokemon.descricao%>">

                    <label for="tipo">Tipo</label>
                    <input type="text" id="tipo" name="tipo" value="<%=pokemon.tipo%>">

                    <label for="imagem">Link da Imagem</label>
                    <input type="text" id="imagem" name="imagem" value="<%=pokemon.imagem%>">

                    <button id="btnCadastro" type="submit">Enviar</button>
                </form>
                <%}%>
            </div>
            <div>
                <img src="/img/pngegg.png" alt="imagem cadastro">
            </div>   
        </section>    
    </main>
    <footer>
        <p>
            Confira mais projetos -
            <a href="https://github.com/thulerjoao">github.com/thulerjoao </a>
            - 2022            
        </p>
    </footer>
    
</body>
</html>